.container {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;   /* <-- CENTRALIZA HORIZONTALMENTE */
  gap: 20px;
  padding: 15px;
  width: 100%;               /* garante que o flex ocupe toda a linha */
}

// Card Styles
.card {
  border: 2px solid #333;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  //max-width: auto;
  background: #fafafa;
  margin: 0 auto;  /* <-- força centralização */
}

// Titulo e IP
.title {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
}

.ip {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

// header status (status geral e reserva)
.headerStatus {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: 600;

  >div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

// Tabela de status
.tabela {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-weight: 600;

  th,
  td {
    border: 2px solid #333;
    padding: 6px;
    vertical-align: middle;
    height: 48px;
  }

  thead {
    background: #e5e5e5;
  }

  .zonasHeader {
    width: 140px;
    text-align: left;
    padding-left: 12px;
  }

  .rowLabel {
    text-align: left;
    padding-left: 12px;
    width: 140px;
  }

  td {
    height: 45px;
  }

  /* ----------------------------------------------------------
     LINHA DAS ZONAS — AGORA FICA NA HORIZONTAL
  ---------------------------------------------------------- */

  .zonasRow {
    background: #ddd;

    .zone {
      display: flex;
      justify-content: center;
      align-items: center;
      //width: 50px;
      //height: 32px;

      background: #ddd;
      border-radius: 6px;
      margin: auto;
      font-weight: bold;
      cursor: default;
      position: relative;

      &::after {
        content: attr(data-zone);
        position: absolute;
        bottom: calc(100% + 6px);
        left: 50%;
        transform: translateX(-50%);
        background: #222;
        color: #fff;
        padding: 5px 8px;
        border-radius: 6px;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: 0.2s;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}

/* responsividade simples */
@media (max-width: 720px) {
  .card {
    padding: 10px;
  }

  .label {
    min-width: 100px;
  }

  .tabela {
    font-size: 0.9rem;
  }
}