* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --dark-500: #212121;
  --dark-900: #101021;
  --greem-900: #3fffa3;
  --blue-900: #2196f3;
  --red-900: #f44336;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: var(--white);
  color: var(--dark-900);
  -webkit-font-smoothing: antialiased; // deixa as fontes mais nítidas
}

body, input, textarea, select, button {
 font: 400 1rem sans-serif; // 16px
}

@media (max-width: 720px) {
  html{
    font-size: 87.5%; // 14px
  }
}

@media (max-width: 1080px) {
  html{
    font-size: 93.75%; // 15px
  }
}

.appLayout {
  display: flex;
  min-height: 100vh;
}

.appLayout .appMain {
  flex: 1;
  padding: 24px;
  background: transparent;
  /* espaço extra no topo para o header fixo (50px) */
  padding-top: calc(24px + 50px);
}
