.container {
  display: grid;
  margin-top: 15px;
  border-radius: 8px;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem;
  background: #e0e4e6;
  min-height: 20vh;

  @media (min-width: 430px) {
    grid-template-columns: repeat(2, 1fr);
  }

   @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1920px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: linear-gradient(145deg, #06142b, #092b5a);
  color: #fff;
  border-radius: 18px;
  padding: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  }
}

.card.falha {
  border: 2px solid rgba(255, 120, 0, 0.7);
  box-shadow: 0 0 12px rgba(255, 120, 0, 0.4);
}

.titulo {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: #dceb09;
}

/* Etiqueta do IP */
.ipPort {
  margin-bottom: 0.2rem;
  background: #111a2e;
  border: 1px solid #2e3b55;
  padding: 6px 12px;
  border-radius: 8px;
  width: fit-content;
  font-family: "JetBrains Mono", monospace;

  h4 {
    color: #c3cad7;
    margin: 0;
  }
}

/* Alinhamento do status */
.statusBox {
  margin-top: 0.2rem;
  display: inline-flex;
  /* ocupa apenas o espaço necessário */
  align-items: center;
  gap: 15px;

  padding: 8px 14px;
  border-radius: 12px;

  background: rgba(255, 140, 0, 0.08);
  /* leve laranja */
  border: 1px solid rgba(255, 140, 0, 0.25);

  width: fit-content;
  /* deixa compacto */
}


.status {
  display: inline-flex;
  align-items: center;
}